.app {
  /* border: 1px solid; */
  padding-top: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.filterGroup {
  display: block !important;
  padding-bottom: 10px !important;
}
